@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>   
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">THALES TEST</h2>
        </div>        
        
    </div>
    <div class="col-6 text-right">
            <a href="@Url.Action("Index", "Employee")" class="btn btn-primary">Go to Employess Page</a>           
        </div>
    <br />
    <br />   
</div>

